{{!< layout}}

{{#contentFor 'content'}}
<section>

<section class="content container">
<div class="page-header">
    <img src="icon">
    <h1>About us!</h1>
  </div>

<div class="us">
    <p>As of December, Boston’s <a href="https://www.bostonglobe.com/metro/2018/12/17/number-homeless-rises-mass/OAGUA8qjiWmgoaMPsvPQzN/story.html">homelessness is up 14%. </a></p>
    <p>Thankfully, there are an incredible amount of resources available for the homeless population in our city: from churches hosting shelters, to restaurants giving out leftover food, to libraries providing free professional workshops.</p>
    <p>But if you’re homeless in Boston, how do you find that information? </p>
    <p>Maybe you go to your local library or find a church nearby. Maybe you consult flyers posted on streetlamps. Maybe you find Internet access … and then what? </p>
    <p>It’s hard to find resources for the homeless online — a Google search will take you to forty different websites showing fragmented services (some only have food, some only have walk-in clinics) available only at specific times. </p>
    <p>Home in the Hub solves the problem of fractured resources: we made a central hub for everything homelessness in Boston.</p>
    <p>Our web app scrapes websites that already feature services for the homeless, like Meetup.com, local nonprofits, library event pages, and other forums. Users can filter events and information by the service they need.</p>
    <p>Good samaritans, whether they’re homeless or not, can post events or services to the site if they don’t already see it. This helps bridge the gap between analog announcements, like word of mouth or flyers, find a digital home.</p>
    <p>Those looking to help the cause can find spots in their neighborhood (or elsewhere) to donate clothing, food, or other goods.</p>
    <p>With the <a href="https://www.theguardian.com/sustainable-business/2015/oct/01/smartphones-are-lifeline-for-homeless-people">increase in smartphone and Internet accessibility</a>, Home in the Hub is the next step in equipping Boston’s homeless population with the tools they need to stay healthy and improve their situation.</p>
  </div>
</section>

{{/contentFor}}